/* #a {
  background-image: url('/Users/jasonjones/Desktop/Codesmith/cohort33/hackathon33/assets/PinClipart.com_motion-clipart_1236689.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 20%;
  left: 70%;
  border: transparent;
}
div.b {
  background-image: url('/Users/jasonjones/Desktop/Codesmith/cohort33/hackathon33/assets/cartoon-pictures-of-monsters-6.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: fixed;
  transform: scaleX(-1);
  left: 50%;
  top: 50%;
  display: none;
}
div.c {
  background-image: url('/Users/jasonjones/Desktop/Codesmith/cohort33/hackathon33/assets/PinClipart.com_stock-market-clipart_134576.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: fixed;
  transform: scaleX(-1);
  top: -100px;
  left: -100px;
}
div.d {
  background-image: url('/Users/jasonjones/Desktop/Codesmith/cohort33/hackathon33/assets/64-643693_wildcat-clipart-monster-baby-monster-legend-monsters-png.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  position: fixed;
  transform: scaleX(-1);
}
div.explode {
  background-image: url('/Users/jasonjones/Desktop/Codesmith/cohort33/hackathon33/assets/explode.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
} */

#stage {
  position: relative;
  height: 4em;
  background: #efefef;
  text-align: center;
}
#box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  background: red;
  line-height: 2em;
  color: #fff;
  -webkit-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
  -moz-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
  -o-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
  transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
}
#stage:hover #box {
  left: calc(100% - 100px);
  bottom: 2em;
}
/* initial state */
#outerspace {
  position: relative;
  height: 400px;
  background: #0c0440 url(/images/outerspace.jpg);
  color: #fff;
}
div.rocket {
  position: absolute;
  bottom: 10px;
  left: 20px;
  -webkit-transition: 3s ease-in;
  -moz-transition: 3s ease-in;
  -o-transition: 3s ease-in;
  transition: 3s ease-in;
}
div.rocket div {
  width: 92px;
  height: 215px;
  background: url(/images/rocket.gif) no-repeat;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

/* hover final state */
#outerspace:hover div.rocket {
  -webkit-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
  -moz-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
  -o-transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
  transition: 1s bottom, 4s 1s left cubic-bezier(0, 1, 1, 1);
}
#outerspace:hover div.rocket div {
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  transform: rotate(70deg);
}
